<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PV_Autolavado.Properties.Settings.punto_venta_autolavadoConnectionString"
            connectionString="server=localhost;user id=el_charco;password=12345Charco;persistsecurityinfo=True;database=punto_venta_autolavado"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>